rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // Kullanıcı kendi dokümanını okuyabilir ve yazabilir
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      // Kullanıcının alt koleksiyonlarına erişim
      match /{collection}/{document=**} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    
    // Yeni kullanıcı kaydı için
    match /users/{userId} {
      allow create: if request.auth != null && request.auth.uid == userId;
    }
  }
}