<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>473619504620-7lqfc7l4u0356r45g6kfbtvi70fu0fm2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.473619504620-7lqfc7l4u0356r45g6kfbtvi70fu0fm2</string>
	<key>API_KEY</key>
	<string>AIzaSyASi8BJVQ1issD12rHv87auvONTzhF2D2o</string>
	<key>GCM_SENDER_ID</key>
	<string>473619504620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xovasoftware.Lingo-Leitner</string>
	<key>PROJECT_ID</key>
	<string>lingo-leitner</string>
	<key>STORAGE_BUCKET</key>
	<string>lingo-leitner.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:473619504620:ios:9015e9a4940274475f74c9</string>
</dict>
</plist>
